.newsMain {
    .iconMain {
        width: 14px !important;
    }
    padding-top: 30px;
    background: linear-gradient(289deg, #e4e4e4 0%, #f6f6f6 100%);
    .container {
        max-width: 1850px;
        margin: 0 auto;
    }
    .imageSection {
        .mainImg {
            .mainImgContent {
                border-radius: 0 0 10px 10px;
                background: #fff;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
                padding: 30px;
            }
            img {
                width: 100%;
            }
        }
        h3 {
            color: var(--bjs-dark-tone-copy, #877b6f);
            font-family: "Gotham Bold";
            font-size: 16px;
            font-style: normal;
            line-height: 22px; /* 137.5% */
            margin-bottom: 32px;
        }
        .article {
            p {
                color: var(--BJS-Mid-Gray, #747e87);
                font-family: "Gotham Medium";
                font-size: 12px;
                font-style: normal;
                line-height: 12px; /* 100% */
                margin: 0;
            }
        }
        .description {
            color: var(--bjs-dark-tone-copy, #877b6f);
            font-family: "Gotham Book";
            font-size: 14px;
            font-style: normal;
            line-height: 18px; /* 128.571% */
            margin-bottom: 92px;
        }
        .articleTime {
            p {
                color: var(--BJS-Mid-Gray, #747e87);
                font-family: "Gotham Book";
                font-size: 14px;
                font-style: normal;
                margin: 0;
                line-height: normal;
            }
            a {
                color: var(--bjs-dark-tone-copy, #877b6f);
                font-family: "Gotham Bold";
                font-size: 14px;
                font-style: normal;
                line-height: normal;
                padding-bottom: 10px;
                text-decoration: none;
                border-bottom: 2px solid var(--BJS-Yellow, #feba30);
                img {
                    margin-left: 22px;
                    width: 16px !important;
                }
            }
        }

        .listNews {
            padding-left: 30px;
            .singleNews {
                margin-bottom: 15px;
                border-radius: 10px;
                background: #fff;
                box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.05);
                overflow: hidden;
                .mainImgContent {
                    padding: 30px;
                }
                img {
                    width: 312px;
                }
                .timeLink {
                    margin-top: 68px;
                    p {
                        color: var(--BJS-Mid-Gray, #747e87);
                        font-family: "Gotham Book";
                        font-size: 14px;
                        font-style: normal;
                        line-height: normal;
                        margin: 0;
                    }
                    a {
                        color: var(--bjs-dark-tone-copy, #877b6f);
                        font-family: "Gotham Bold";
                        font-size: 14px;
                        font-style: normal;
                        line-height: normal;
                        padding-bottom: 10px;
                        text-decoration: none;
                        border-bottom: 2px solid var(--BJS-Yellow, #feba30);
                        img {
                            margin-left: 22px;
                            width: 16px !important;
                        }
                    }
                }
                h3 {
                    color: var(--bjs-dark-tone-copy, #877b6f);
                    font-family: "Gotham Bold";
                    font-size: 14px;
                    font-style: normal;
                    line-height: 18px; /* 128.571% */
                    margin-bottom: 15px;
                }
            }
        }
    }


}
