
.charity{
    .underSky{
        background-image: url("/../public/images/charityBg.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        padding: 45px 0 85px;
        .container{
            max-width: 1300px;
        }
        h2.pageTittle{
            color: #2c3033;
            font-family: "Brixton_Wood_PERSONAL_USE_ONLY Vector";
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;     
            margin-bottom: 18px;   
        } 
        h3{
            color: var(--bjs-dark-tone-copy, #24292C);
            font-family: "Gotham Book";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            margin: 38px 0 18px;
        }
        p{
            color: var(--bjs-dark-tone-copy, #24292C);
            font-family: "Gotham Book";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; 
            margin: 0 0 18px;
        } 
        .learn-btn{
            margin-top: 35px;
            width: fit-content;
            border-bottom: 2px solid var(--BJS-Yellow, #FEBA30);
            padding-bottom: 3px;
            button{
                color: var(--bjs-dark-tone-copy, #24292C);
                font-family: "Gotham Bold";
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                background-color: transparent;
                border: none;
                padding: 0 40px 0 0;
                position: relative;
                &:after{
                    content:"";
                    background-image: url("/../public/images/learnbtnArrow.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 17px;
                    height: 9px;
                }
            }
        }
        .colmLeft{
            img{
                mix-blend-mode: darken;            
            }
        }
    } 

    .educate{
        background-image: url("/../public/images/educateBG1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 80px 0 95px;
        .container{
            max-width: 1000px;
        }
        h2{
            color: #FFF;
            text-align: center;
            font-family: 'Eveleth Dot';
            font-size: 60px;
            font-style: normal;
            font-weight: 950;
            line-height: normal;
            text-shadow: 0px 1px 3px #00000069;
        }
        p{
            color: #FFF;
            text-align: center;
            font-family: "Gotham Book";
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            max-width: 800px;
            margin: 12px auto 60px;
            text-shadow: 0px 1px 3px #00000069;
        }
    }

    .partnersMAin {
        background: #fff;
    }
    .newsPartners {
        max-width: 1700px;
        margin: 0 auto;
        padding: 55px 0;
    
        h2 {
            color: #919495;
            font-family: "Eveleth Dot";
            font-size: 20px;
            font-style: normal;
            font-weight: 950;
            line-height: normal;
            position: relative;
            margin: 0 auto ;
            &:before {
                content: "";
                position: absolute;
                width: 43%;
                background: #d1d6d8;
                height: 1px;
                left: 0;
                top: 12px;
            }
            &:after {
                content: "";
                position: absolute;
                width: 43%;
                background: #d1d6d8;
                height: 1px;
                right: 0;
                top: 12px;
            }
        }
    }

}