.bannerSection {
    background: url(../../../public/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .container {
        max-width: 1180px;
        padding-top: 37px;

        p {
            font-family: "Gotham book";
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            text-align: center;
            margin: 0px;
            color: #fff;
        }

        h1 {
            font-family: "Brixton_Wood_PERSONAL_USE_ONLY Vector";
            font-size: 180px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            color: #faa00e;
            margin-top: 10px;
            line-height: 80px;
        }

        h5 {
            position: absolute;
            right: 52px;
            bottom: -123px;
            text-transform: uppercase;
            font-size: 104px;
            font-family: "Brixton_Wood_PERSONAL_USE_ONLY Vector";
            transform: rotate(-7deg);
            color: #73c8ef;
        }

        .maintextouter {
            position: relative;
        }
    }

    .bannerButtons {
        margin-top: 19%;
        padding-bottom: 37px;

        .container {
            max-width: 567px;
        }

        button {
            border-radius: 66px;
            border: 1px 0px 0px 0px;
            opacity: 0px;
            background: transparent;
            width: 100%;
            border: #fff 1px solid;
        }

        .bjsServices {
            background: #000 !important;
            text-transform: uppercase;
            border: 0px;

            span {
                color: #feba30;
            }

            a {
                font-size: 27px;
            }
        }

        a {
            font-family: "Gotham Bold";
            font-size: 16px;
            font-weight: 400;
            line-height: 51px;
            text-align: left;
            text-decoration: none;
            color: #ffffff;
            background: transparent;
        }
    }
}

.homeDeliverSection {
    .container {
        max-width: 1720px;
    }
}

.leftContent {
    margin-top: 80px;
    text-align: left;

    h2 {
        font-family: "Brixton_Wood_PERSONAL_USE_ONLY Vector";
        font-size: 100px;
        font-weight: 700;
        line-height: 95.5px;
        text-align: left;
        text-transform: uppercase;
        color: #73c8ef;
    }

    span {
        color: #fbc22b;
    }

    p {
        width: 600px;
        margin-top: 10px;
        color: #877b6f;
        text-align: justify;
    }

    .moreinfo {
        margin-top: 40px;
    }

    button {
        padding: 16px 30px;
        border-radius: 66px;
        opacity: 0px;
        color: #000;
        font-family: "Gotham Bold";
        text-transform: uppercase;
        border: 0px;
        background: #feba30;
    }

    .muchmore {
        font-family: Gotham Book;
        font-size: 14px;
        font-weight: 400;
        line-height: 13.4px;
        text-align: left;
        color: #877b6f;
    }
}

.twoparts {
    margin-top: 25px;

    b {
        font-family: "Eveleth Dot";
        font-size: 14px;
        font-weight: 950;
        line-height: 19.38px;
        text-align: left;
        text-transform: uppercase;
        color: #000;
        font-weight: normal;
    }

    ul {
        padding: 0px 0 0 22px;
        margin-bottom: 25px;
    }

    li::marker {
        color: #fbc22b;
        font-size: 19px;
    }

    li {
        color: #877b6f;
    }
}

.bjsDifferentSec {
    .different-technology {
        .section-content {
            margin: 0;
            background: linear-gradient(289deg, #70c6f0 0%, #73c8ef 100%);
            .left-column-sc {
                h2 {
                    color: #000;
                }
                p {
                    color: #000;
                }
                a {
                    color: #73c8ef;
                }
            }
        }
        .left-column-sc {
            background: linear-gradient(289deg, #70c6f0 0%, #73c8ef 100%);
        }
    }
}

.newsPartners {
    max-width: 1044px;
    margin: 0 auto;
    padding: 60px 0;

    h2 {
        color: #919495;
        font-family: "Eveleth Dot";
        font-size: 20px;
        font-style: normal;
        font-weight: 950;
        line-height: normal;
        position: relative;
        margin: 0 auto 40px;
        &:before {
            content: "";
            position: absolute;
            width: 733px;
            background: #d1d6d8;
            height: 1px;
            left: -19rem;
            top: 12px;
        }
        &:after {
            content: "";
            position: absolute;
            width: 733px;
            background: #d1d6d8;
            height: 1px;
            right: -19rem;
            top: 12px;
        }
    }
}

.beliefDevine {
    padding: 100px 0;
    .container {
        max-width: 1800px !important;
        width: 100%;
    }
    .leftContent {
        margin-top: 0;
        button {
            border-radius: 66px;
            background: var(--BJS-Mid-Gray, #747e87);
            color: #fff;
        }
    }
    h2 {
        color: #000;
        font-family: "Brixton_Wood_PERSONAL_USE_ONLY Vector";
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 100%;
        margin-bottom: 20px !important;
    }
    p {
        color: #000;
        font-family: "Gotham Book";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
        width: 94%;
        margin-bottom: 0;
        text-align: left;
    }
    .comaImg {
        margin-top: 40px;
    }
    .twoparts {
        p {
            color: var(--BJS-Mid-Gray, #747e87);
            font-family: "Gotham Book";
            font-size: 15px;
            font-style: italic;
            font-weight: 400;
            line-height: 20px; /* 133.333% */
            text-align: left;
            width: 93%;
        }
        .authorDetailing {
            img {
                margin: 0;
                width: 140px;
            }
            h3 {
                color: #000;
                font-family: "Gotham Bold";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            p {
                color: var(--BJS-Mid-Gray, #747e87);
                font-family: "Gotham Book";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

.heartFelt {
    .row {
        width: 100%;
    }
    .heartFeltContent {
        padding: 60px 60px 100px;
        background-image: url("/../public/images/heartfeltBg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        h2 {
            color: #fff;
            text-align: center;
            font-family: "Brixton_Wood_PERSONAL_USE_ONLY Vector";
            font-size: 200px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            transform: rotate(-4.992deg);
        }
        p {
            color: #fff;
            text-align: center;
            text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
            font-family: "Gotham Book";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin: 40px auto 0;
            width: 84%;
        }
        button {
            color: var(--BJS-Yellow, #feba30);
            font-family: "Eveleth Dot";
            font-size: 16px;
            font-style: normal;
            font-weight: 950;
            line-height: normal;
            border-radius: 66px;
            background: #fff;
            padding: 20px 40px;
            border: none;
            margin-top: 60px;
        }
    }
    .heartFeltCustomer {
        padding: 60px;
        background: linear-gradient(289deg, #e4e4e4 0%, #f6f6f6 100%);
        .testimonialslider {
            h3 {
                color: #000;
            }
            .slick-prev {
                left: 90%;
            }
            .trustpilot {
                display: flex;
                flex-direction: column;
                align-items: start;
                p {
                    margin: 0;
                }
            }
            .testimonialAuthor {
                margin: 0 0 196px 0;
            }
            .slick-dots {
                position: absolute;
                top: 229px;
            }
        }

        h2 {
            color: #24292c;
            font-size: 22px;
            font-style: normal;
            line-height: normal;
            font-family: "Eveleth Dot";
            padding: 10.5px 0 15px;
            margin: 0;
            border-bottom: 1px solid var(--BJS-Light-Gray, #c5d1dc);
        }
    }
}
