
.site-footer{
    background-image: url("../../../public/images/footer-BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
  .fotr-container{
    max-width:1800px;
    margin: 0 auto;
    width:100%;

    .leftColm{
      gap:40px;
      
      h3{
        color: var(--BJS-Mid-Gray, #747E87);
        font-size: 14px;
        font-style: normal;
        font-family: "Gotham Black";
        font-weight: 500;    
        line-height: normal;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 10px;
        transition: all 0.5s;
        &:hover {
          color: #877b6f;
        }
      }
      .nav{

        a.nav-link{
        color: var(--BJS-Mid-Gray, #747E87);
        font-family: "Gotham Book";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 5px 0;
        text-align: left;
        transition: all 0.5s;
        &:hover {
          color: #877b6f;
        }
        }
      }
      .fotrSocial img {
        margin-right: 10px;
      }
    }
    .rightColm{
        p a{
        color: var(--BJS-Mid-Gray, #747E87);
        font-family: "Gotham Book";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-underline-position: under;
        transition: all 0.5s;
        &:hover {
          color: #877b6f;
        }
        }
    button.headOffice{
        color: #919495;
        font-family: 'Eveleth Dot';
        font-size: 12px;
        font-style: normal;
        font-weight: 950;
        line-height: normal;    
        border: none;
        background: #fff;
        padding: 17px 21px;
        border-radius: 15px;
        box-shadow: 0px 5px 7px 5px rgb(0 0 0 / 9%);
        position: relative;
        margin-top: 42px;
    }
    button.headOffice:after {
        content:"";
        background-image: url("../../../public/images/officebtn-bgnew.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width: 16px;
        height: 10px;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    h4{
        color: var(--BJS-Mid-Gray, #747E87);
        font-family: "Gotham Book";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-underline-position: under;
        padding-left:25px;
        position: relative;
        width: fit-content;
        margin: 26px 0 18px auto;
        transition: color 0.5s;
        &:hover{
          color: #e11e26;
        }
    }
    h4:before{
        content:"";
        background-image: url("../../../public/images/empire.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left:0;
        top:50%;
        transform: translateY(-50%);
        width: 18px;
        height: 15px;
      }
      button.view-map{
        color: #FFF;
        font-family: "Gotham Medium";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 66px;
        background: var(--BJS-Mid-Gray, #747E87);
        border:none;
        padding: 13px 20px;
        transition: all 0.5s;
        &:hover {
          background: #877b6f;
        }
      }
      button.view-map:before{
        content:"";
        background-image: url("../../../public/images/map-icon.png");
        background-size: contain;
        background-repeat: no-repeat; 
        padding: 3.5px 7.5px;
        margin-right: 10px;      
      }
    }
  } 
}

.reserved{
  padding: 38px 0;
  p{
    color: var(--BJS-Mid-Gray, #747E87);
    font-family: "Gotham Book";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
  }

}


@media screen and (max-width:1710px) {
    .site-footer .fotr-container{
        max-width:95%;
    }

    
}