$redcolor : red;

.header .dropdown-menu-container {
  display: flex;
  align-items: center;
}

.header .dropdown-image {
  flex: 1;
  padding: 10px;
}

.header .dropdown-image img { 
  width: 150px; /* Adjust the size as needed */
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header .dropdown-items {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.header {
    height: 80px;
    display: flex;
    align-items: center;
    background: #fff;

    .container {
        max-width: 1860px;

        .bg-body-tertiary {
            background: #fff !important;
        }

        .mainNavigation {
            margin-right: 8px;
        }

        .navbarsecond a#basic-nav-dropdown {
            font-family: 'Gotham Bold';
            font-size: 12px;
            text-transform: uppercase;
        }


        .mainNavigation a.nav-link {
            font-family: Gotham Bold;
            font-size: 15px;
            line-height: 14.36px;
            text-align: left;
            color: #877B6F;
            padding: 15px 12px;

            &.active{
                color: #feba30;
            }
        }

        .flags {
            background: url(../../../public/images/US-Flag.png) no-repeat scroll left center;
            padding: 0 0 0 18px;
        }

        .navbarsecond {
            align-items: center;
            gap: 15px;

            // .nav-link.active{
            //     .talktous{
            //         color: #fff;
            //         background-color: #000;
            //     }
            // }

            .talktous {
                width: 148px;
                height: 42px;
                padding: 0 0 0 18px;
                gap: 6px;
                border-radius: 66px;
                opacity: 0px;
                text-transform: uppercase;
                color: #fff;
                border: 0px;
                font-family: 'Gotham Bold';
                background: #747E87 url(../../../public/images/phone.png) no-repeat scroll left 11px top 11px;
            }
        }
    }
}