$redcolor : red;


.enquiry{
    h2 {
        font-family: 'Eveleth Dot';
        font-size: 16px;
        font-weight: 950;
        line-height: 22.14px;
        text-align: center;
        color: #FEBA30;
    }
}

