.our-technology {
    padding: 60px 0;
    // background-image: url("../../../public/images/image35.jpg");
    background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

    .container-py {
        max-width: 1000px;
        margin: 0 auto;
    }

    .about-title {
        color: #2C3033;
        font-family: Brixton_Wood;
        font-size: 60px; 
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    p.jt-p {
        color: var(--bjs-dark-tone-copy, #877B6F);
        text-align: center;
        font-family: "Gotham Book";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    p.sm-p {
        color: var(--bjs-dark-tone-copy, #877B6F);
        text-align: center;
        font-family: "Gotham Book";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }
}

.our-patners {
    h3 {
        color: var(--BJS-Mid-Gray, #747E87);
        font-family: "Gotham Book";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.patners-logo {
    img {
        padding-right: 30px;
    }
}
